.imgItem{
    border-radius: 1rem;
    transition: border 0.3s;
    border: 3px solid transparent; 

  &:hover {
    border: 3px solid #ff5733; 
  }
}


.arrow{
    transition: all 0.3s;

    &:hover{
        transform: scale(1.5);
    }
}

